table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .table{
    border-radius: 5px;
    border: 1px solid rgb(150, 235, 150);
  }

  .mat-cell{
    margin-right: 5px !important;
  }

  .highlight{

    background-color: bisque;
    
  }